<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="border: 1px solid black; margin: 10px; padding:20px">
        <img src="../static/student-01.jpeg" width="150" height="200">
        <h3>Name     : {{name}}</h3>
        <h3>Data     : {{data}}</h3>
        <!-- <h3>Data     : {{data[2]}}</h3> -->
        <h3>Subjects : </h3>
        <h3>    Physics   : {{subj['phy']}}</h3>
        <h3>    Chemistry : {{subj['chem']}}</h3>
        <h3>    Math      : {{subj['math']}}</h3>
        <h3>    Computers : {{subj['computers']}}</h3>
    </div>
</body>
</html>